{% extends "main.html" %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Templates</title>
</head>
<body>
<p> Data is {{ data }}</p>
</body>
</html> -->

				{% block content %}

				<!DOCTYPE html>
				<html lang="en">
				<head>
					<meta charset="UTF-8">
					<meta name="viewport" content="width=device-width, initial-scale=1.0">
					<meta http-equiv="X-UA-Compatible" content="ie=edge">
					<title>My HtmlPage</title>
					<style>
						.row1 {color:red;}
						.row2 {color:blue;}
					  </style>
				</head>
				<body>
				<p> Data is {{ data }} </p>
				<p> Username  is {{ username }} {{email}} </p>
				{% for i in data %}
					<div class="{% cycle 'row1' 'row2' %}">
						{{ i }}
					</div>
				{% endfor %}
				</body>
				</html>
				{% endblock %}