<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My HtmlPage</title>
</head>
<body>
{% for i in students %}
    <div>
        First Name : {{ i.student_fname }}
        Last Name : {{i.student_lname}}
        School Name : {{i.student_school_name}}
        School Address : {{i.student_address}}
    </div>
{% endfor %}
</body>
</html>